@tailwind base;
@tailwind components;
@tailwind utilities;

.title, .title-name {
    font-size: clamp(0.4em, 6vw, 2em);
    margin-left: clamp(2px, 2vw, 10px);
    width: 100%;
}

.animate__animated.animate__backOutRight {
  --animate-duration: 2s;
}

.animate__animated.animate__backInRight {
  --animate-duration: 2.5s;
}